stepFunction.document_processing.asl.json
{
    "Comment": "Document Processing Workflow with JSONata",
    "StartAt": "ClassifyDocument",
    "States": {
        "ClassifyDocument": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-1:123456789012:function:document-classifier",
            "ResultPath": "$.classificationResult",
            "Next": "CheckClassification",
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.TaskFailed"
                    ],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 3,
                    "BackoffRate": 2
                }
            ],
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "ResultPath": "$.error",
                    "Next": "ClassificationFailed"
                }
            ]
        },
        "CheckClassification": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.classificationResult.documentType",
                    "IsNull": true,
                    "Next": "ClassificationFailed"
                },
                {
                    "Variable": "$.classificationResult.confidence",
                    "NumericLessThan": 0.7,
                    "Next": "ManualReview"
                }
            ],
            "Default": "TransformForExtraction"
        },
        "TransformForExtraction": {
            "Type": "Pass",
            "Parameters": {
                "document.$": "$.document",
                "documentType.$": "$.classificationResult.documentType",
                "confidence.$": "$.classificationResult.confidence",
                "QueryLanguage": "JSONata",
                "Query": "$merge([$.document, {'metadata': {'classified': true, 'type': $.classificationResult.documentType}}])"
            },
            "ResultPath": "$.extractionInput",
            "Next": "ExtractDocumentData"
        },
        "ExtractDocumentData": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-1:123456789012:function:data-extractor",
            "InputPath": "$.extractionInput",
            "ResultPath": "$.extractionResult",
            "Next": "ProcessExtractedData"
        },
        "ProcessExtractedData": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-1:123456789012:function:business-action",
            "Parameters": {
                "documentType.$": "$.classificationResult.documentType",
                "data.$": "$.extractionResult.extractedData",
                "QueryLanguage": "JSONata",
                "Query": "{'action': documentType = 'INVOICE' ? 'processPayment' : 'createOrder', 'payload': data}"
            },
            "End": true
        },
        "ManualReview": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sns:publish",
            "Parameters": {
                "TopicArn": "arn:aws:sns:us-east-1:123456789012:manual-review",
                "Message.$": "$.document.key"
            },
            "End": true
        },
        "ClassificationFailed": {
            "Type": "Fail",
            "Error": "ClassificationError",
            "Cause": "Unable to classify document"
        }
    }
}